* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    height: 5000px;
}

nav {
    background-color: rgb(168, 75, 255);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav i
{
    color: white;
    font-size: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
    font-family: roboto;
    
}

#icon{
    display: none;
}

#hamburger
{
    display: none;
}

@media screen and (max-width: 768px) {
    nav > a {
        display: none;
    }

    #icon
    {
        display: block;
    }


    #hamburger {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        color: white;
        position: relative;
        z-index: 1000;
    }

}
