body {
    background-color: #282c34;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.header {
    
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20232a;
}

.navbar .menu-icon {
    display: none;
    font-size: 24px;
    color: white;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #61dafb;
}

section {
    padding: 50px;
    text-align: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #333; 
}

@media (max-width: 768px) {
    .navbar ul {
        
        display: none;
    }
    
    .navbar .menu-icon {
        display: block;
    }
}
