.button1{

    background-color: rgb(10,102,194); 
    color: white; 
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: none;
    font-size: 30px; 
    font-weight: 700;
}

.button1:hover{

    background-color: rgb(4, 75, 146); 
}

.button2{

    background-color: white; 
    border: 2px solid rgb(10,102,194) ; 
    border-radius: 30px; 
    font-size: 30px; 
    color : rgb(10,102,194); 
    font-weight: 700; 
    margin-left: 30px; padding: 15px; 
    
}

.button2:hover{

    border: 3px solid rgb(10,102,194) ; 
    background-color: rgb(213, 227, 239) ;

}