.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
}

.num-button {
    width: 40px;
    height: 40px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
}

.reset-button {
    width: 80px;
    height: 40px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: #ccc;
    text-align: center;
}

.result-container {
    text-align: center;
    margin-top: 20px;
}

#result {
    font-size: 36px;
    font-weight: bold;
}