body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.tweet-container {
  width: 500px;
  border: 1px solid #c9cfd3;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  gap: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tweet-info {
  margin-left: 10px;
}

.tweet-author {
  font-weight: bold;
  font-size: 16px;
}

.tweet-handle {
  color: #677987;
}

.tweet-link {
  margin-top: 10px;
}

.link-container {
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  width: 60%;
}

.link-info {
  padding: 10px;
  margin-left: 40%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.link-url {
  color: #657786;
  font-size: 14px;
}

.link-title {
  display: block;
  font-size: 16px;
  color: #14171a;
}
