* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #3071aa;
}

body {
    background-color: black;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    background-color: #212121;
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid #555c6129;
}

.head {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.text {
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
}

button {
    color: white;
    background-color: #383838;
    border: none;
    font-weight: 600;
    width: 500px;
    padding: 3px;
    border-radius: 12px;
}

.make-it-cen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}