.getstart-button {
    color: white;
    background-color: rgb(121,82,179);
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
}

.getstart-button:hover {
    opacity: 0.7;
}

.download-button {
    color: rgb(108,117,125);
    background-color: white;
    border: solid rgb(108,117,125);
    border-width: 1px;
    font-weight: bold;
    padding: 10px;
    width: 105px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: rgb(108,117,125);
    color: white;
}
