#Q1{
    border-style:solid;
    border-width: 10px;
    background-color: black;
    color: white;
}
#Q2{
    border: 10px solid rgb(255, 216, 20);
    border-radius: 20px;
    background-color: rgb(255, 216, 20);
    padding-left: 30px;
    padding-right: 30px;
}
#Q3_b1{
    border: 3px solid rgb(10, 102, 194);
    border-radius: 18px;
    background-color: rgb(10, 102, 194);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

}
#Q3_b2{
    border: 1.5px solid rgb(10, 102, 194);
    background-color: white;
    color:rgb(10, 102, 194) ;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 15px;
}
#Q4_b1{
    background-color:rgb(121,82,179) ;
    padding: 11px;
    border: solid rgb(121,82,179);
    border-radius: 4px;
    color: white;
    font-size: 15px;
}
#Q4_b2{
    background-color: white;
    color: rgb(108,117,125);
    border: 2px solid rgb(108,117,125);
    border-radius: 4px;
    padding: 11px ;
    font-size: 15px;
}
#Q5_b1{
    background-color: rgb(255, 216, 20);
    border: 10px solid rgb(255, 216, 20);
    border-radius: 20px;
    padding-left:30px;
    padding-right:30px;
    font-size: 15px;
}
#Q5_b2{
    background-color: rgb(255, 166, 0);
    border: 10px solid rgb(255, 166, 0);
    border-radius: 20px;
    padding-left:30px;
    padding-right:30px;
    font-size: 15px;
}