#Google{
    width: 50%;
    height: 50%;
}
#img{
    display: block;
    margin-left: 50px;
    margin-top: 10%;
    padding: 6px 6px 6px 10px;

}
#b1{
    border: 1px rgb(181, 179, 179) ;
    border-style: none;
    background-color:white;
    color: rgb(181, 179, 179);
    padding: 6px 170px 6px 10px;
    border-radius: 20px;
    box-shadow:  0px 0px 10px 0px rgb(0, 0, 0, 0.10);
}
.Q2_name{
    background-color: white;
    border: 1.3px solid gray;
    border-radius: 10px;
    padding: 8px 30px 8px 9px;
    color: gray;
}
#Q2_b2{
    background-color: white;
    border: 1.3px solid gray;
    border-radius: 10px;
    padding: 8px 173px 8px 9px;;
    color: gray;
    margin-top: 7px;
    margin-bottom: 7px;
}
#Q2_b3{
    background-color: dodgerblue;
    border: 1.3px solid dodgerblue;
    border-radius: 10px;
    padding: 8px 83px 8px 85px;
    color: white;
}
.table{
    background-color: pink;
    /* padding: 5px 100px 5px 10px; */
    padding-right: 100px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#full_table{
    width: 100%; 
}