body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}

.navbar {
  background-color: #7b4db9;
  padding: 10px;
  display: flex;
  align-items: center;

}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .search {
  flex-grow: 1;
}

.navbar input[type="text"] {
  width: 80%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  
}

.navbar .download {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}
