.container{
    margin-left: 500px;
    width: 600px;
}

button{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin-left: 150px;
}

h3{
    margin-left: 180px;
    font-weight: bold;
}

p{
    margin-left: 0px;
    text-align: center;
}