.button{
    margin: 2.5px;
    text-align: center;
    cursor: pointer;
}
#btn1:hover{
    background-color: rgb(00,82,174);
}
#btn2:hover{
    background-color: rgba(10, 102, 194, 0.089);
    border-width: 2.5px;
}
#btn3:hover{
    background-color: rgb(91,42,139);
}
#btn4:hover{
    background-color:rgb(108,117,125);
    color: white;
}
#btn5:hover{
    position: relative;
    background-color: rgb(235,196,00);
}
#btn6:hover{
    position: relative;
    background-color: rgb(235, 146,00);
}
#btn5:active{
    background-color: rgb(225,176,00);
}
#btn6:active{
    background-color: rgb(215, 126,0);
}
#btn5:active::after,#btn6:active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.331);
}
#btn1{
    background-color:rgb(10,102,194);
    border: 1px solid rgb(10,102,194);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding:11px 22px;
    }
#btn2{
    border: 1px solid rgb(10,102,194);
    color: rgb(10,102,194);
    background-color: white;
    border-radius: 25px;
    padding:9px 22px;
    font-weight: bold;
}
#btn3{
    background-color: rgb(121,82,179);
    border-color: rgb(121,82,179);
    color: white;
    padding:11px 22px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    width: 115px;
}
#btn4{
    color: rgb(108,117,125);
    border: 1px solid rgb(108,117,125);
    border-radius: 4px;
    padding:11px 22px;
    background-color: white;
    font-weight: bold;
    width: 115px;
}
#btn5{
    background-color: rgb(255,216,20);
    border-radius: 24px;
    border: none;
    display: inline-block;
    padding: 8px;
    width: 120px;
}
#btn6{
    background-color: rgb(255, 166, 0);
    border-radius: 24px;
    border: none;
    display: inline-block;
    padding: 8px;
    width: 120px;
}
#link:hover{
    color: orange;
}
.product{
    font-size: x-large;
    font-weight: bold;
}
.info{
    color: rgb(9, 140, 9);
    font-weight: bold;
}
