@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

:root {
    --primary-color: #77472f;
    --primary-color-dark: #5681a7;
    --secondary-color: #e8f1fa;
    --text-dark: #282d31;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --focus-color: #0c0b0e;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://raw.githubusercontent.com/AnshGulati/21DaysOfCode-2024/main/Resources/italy.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
}

nav {
    margin-top: 0px;
    width: 100%;
    padding: 0.6em;
    background: linear-gradient(to right bottom, rgb(0 0 0 / 40%), rgb(0 0 0 / 32%));
    backdrop-filter: blur(0.3rem);
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.nav_links {
    color: var(--extra-light);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
}

.nav_logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--extra-light);
}

.nav_links:hover {
    color: var(--primary-color);
}

.nav_links:focus {
    outline: purple;
    color: var(--focus-color);
}

nav li:hover {
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.125);
}

nav li:focus {
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.125);
}

header {
    color: var(--extra-light);
}

.maindiv {
    width: 800px;
    padding: 14.5rem 4rem;
    font-family: "Roboto", sans-serif;
}

header h1 {
    font-size: 5.25rem;
    font-weight: 400;
    line-height: 5rem;
    margin-bottom: 1.1rem;
}

header p {
    margin-bottom: 1.5rem;
    font-size: 17px;
}

header button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    color: var(--extra-light);
    background-color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

header button:hover {
    background-color: var(--primary-color-dark);
}

.section_container {
    padding: 5rem 1rem;
    width: 100%;
    height: 140vh;
    background-color: var(--secondary-color);
}

.section_title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.section_subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 5rem;
    text-align: center;
}

.card_deck {
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    width: 86%;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--extra-light);
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 240px;
    transition: 0.5s all ease-in-out;
}

.card:hover img {
    transform: scale(1.2);
}

.card_content {
    padding: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-light);
    cursor: pointer;
}

.card_content i {
    font-size: 1.2rem;
}

.card_content span {
    font-style: italic;
}

.card_subtext {
    padding: 2px 25px;
    margin-bottom: 13px;
    font-weight: 100;
    font-size: 14.5px;
    color: var(--text-light);
    text-align: left;
    transition: 0.3s all ease-in-out;
}

.card_subtext:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    color: white;
    text-align: left;
    padding: 10px;
}
