.apply-button {
    background-color: rgb(10,102,194);
    border: none;
    width: 225px;
    padding: 10px;
    border-radius: 1000px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.apply-button:hover {
    background-color: rgb(0,56,118);
}

.save-button {
    color: rgb(10,102,194);
    background-color: white;
    margin-left: 10px;
    border: none;
    width: 75px;
    padding: 10px;
    border-radius: 100000px;
    border: solid rgb(10,102,194);
    border-width: 0.5px;
    font-weight: bold;
    cursor: pointer;
}

.save-button:hover {
    background-color: rgb(222,239,255);
}