body {
   
    height: 100vh;
    margin: 0;
    
    
}

.flex-container {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    width: 100%;
    max-width: 600px;
    border: none;
}

.flex-item {
    padding: 10px;
    text-align: center;
    border:none;
}

.item1 {
    width: 50px;
    background-color: skyblue
}

.item2 {
    flex-grow: 1;
    background-color:pink
}

.item3 {
    width: 75px;
    background-color: skyblue;
}

.flex-container-2
{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 800px;
    border: none;
    background-color: white;


}
.flex-item-2
{
    font-size: x-large;
    background-color:pink;
    text-align: center;
    border: none;
    flex-grow: 1;
    margin: 0px 50px;
    align-items: center;
    margin-left: 0px;
    
}
.flex-item-2-last
{
    margin-right: 0px;
    font-size: x-large;
    background-color:pink;
    text-align: center;
    border: none;
    flex-grow: 1;
    align-items: center;
}
.flex-container-3
{
    background-color: white;
    border: 2px solid grey;
    max-width: 600px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
.flex-item-left
{
    background-color: pink;
    margin: 0 10px;
    text-align: center;
    float: right;
    display: flex;
    
    

}
.flex-item-right
{
    background-color: pink;
    text-align: center;
    flex-grow: ;

}
.nav
{
    margin: 50px;
    border: 2px solid gray;
    padding: 20px;
    align-items: center;
}
.home
{
    background-color: purple;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;

}
.search
{
    
    border-radius: 10px;
    background-color: white;
    border: none;
    font-size: x-large;
    width: 500px;
    padding: 10px;
}
button
{
    font-size: x-large;
    background-color: purple;
    border: 3px solid white;
    border-radius: 2px;
    color: white;
}