.inside-button-p {
    margin: 0;   
    padding: 0;  
    border: 0;   
    box-sizing: border-box;
}

.heading {
    font-size: 28px;
    font-weight: bold;
}

.prize{
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.add-to-cart, 
.buy-now {
    padding: 6px 16px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.add-to-cart {
    background-color: rgb(255,216,20);
}

.buy-now {
    background-color: orange;
}

.back-to-amazon:hover {
    color: orange;
}

.add-to-cart:hover {
    background-color: rgba(230, 195, 20, 0.878);
}

.add-to-cart:active {
    background-color: rgb(253, 227, 96);
    color: rgb(65, 65, 65);
}

.buy-now:hover {
    background-color: rgb(234, 153, 2);
}

.buy-now:active {
    background-color: rgb(252, 180, 47);
    color: rgb(65, 65, 65);
}