
    body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: black; 
    }

    .container {
      background-color: gray;
      padding: 30px;
      border-radius: 15px;
      text-align: center;
      width: 50%; 
    }

    .message {
      font-size: 20px;
      margin-bottom: 10px;
    }
    #button{
        background-color:rgb(57,57,56);
        border-radius: 15px;
        width: 300px;
       
    }
