body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #2c3e50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul 
{
    list-style: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin: 0 1em;
}

nav ul li a 
{
    color: white;
    text-decoration: none;
}

.hero-image 
{
    width: 100%;
    height: auto;
}

.feature-image 
{
    width: 100%;
    height: auto;
    margin-top: 1em;
}

section {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
