body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 5000px;
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1eca0e;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .navbar a {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
}
