/* Color picked using color picker chrome extension */

.container {
    background-color: #212121;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 400px;
}

.container p {
    margin: 0 0 10px;
}
.container a {
    color: #3EA6FF;
    text-decoration: none;
}

.title-para {
    color: white;
    padding: 8px;
    font-weight: bold;
}

.description-para {
    color: #9A9A9A;
    padding: 10px;
    font-size: 14px;
}

.button {
    background-color: #373737;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
}
