.box1{
    display: block;
    height: 80px;
    width: 500px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 14px 4px rgb(216, 216, 216);
    margin: auto;
    margin-top: 40px;
}
#image{
   
    display: inline-block;
    vertical-align: top;
    width: 60px;
    margin-left: 15px;
    margin-top: 10px;
}
img{
    width: 60px;
}
#box2{

    display: inline-block;
    vertical-align: middle;
    margin-top: 27px;
    margin-left: 5px;
    margin-bottom: 20px;
 
}
#box3{
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 100px;
    
    margin-bottom: 20px;
   
}
p{
    margin: 0;
    display: inline-block;
    color: gray;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#bu{
   background-color: dodgerblue;
   color: white;
   border: none;
   padding: 6.5px 20px 6.5px 20px;
   border-radius: 20px;
   font-size: 16px;
   font-weight: bold;
}