*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

body{

    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(26, 118, 255)
}

.main-container{

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{

    background-color: rgb(47, 46, 46);
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

.overlay button{

    border-radius: 20px;
    color: white;
    background-color: rgb(77, 77, 77);
    padding: 10px;
    border: none;
    font-weight: 500;
}